* {
  margin: 0.2rem;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img.icon {
  height: 8rem;
}

fieldset {
  margin-top: 0.8rem;
  align-items: center;
  display: flex;
  width: 48rem;
  padding: 1.5rem;
}
