* {
  font-family: 'Poppins', sans-serif;
}

fieldset {
  margin-bottom: 0.4rem;
}

.caixag {
  width: 250px;
}

.caixam {
  width: 170px;
}

.caixap {
  width: 150px;
}

img {
  margin-right: 0.8rem;
}
